
h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: green;
}

h4 {
    color: black;
    font-size: 20px;
}

.interests {
    font-family: cursive;
}

.izzat {
    font-size: 20px;
}

.bekzod {
    color: yellow;
}
